.adv {
	&__grid {
		@media (min-width: 360px){
			display: grid;
			grid-template-columns: repeat(2,1fr);
		}
		@media (min-width: 768px){
			padding-top: 1em;
			display: grid;
			grid-template-columns: repeat(8,1fr);
			grid-template-rows: repeat(4,1fr);
			grid-template-areas: ". a a a a a a ."
										"b b b c c d d d"
										"e e e c c f f f"
										". i i i k k k ." ;
		}
	}
	&__core {
		@media (min-width: 768px){
			grid-area: c;
			background-image: url(../img/software/texture.png);
			background-size: cover;
			display: grid;
			place-items: center;
		}
		@media (max-width: 991px){
			img {
				max-width: 60px;
			}
		}
		@media (max-width: 767px){
			display: none;
		}
	}
	&__item {
		padding: 1.6em 3.3em;
		border: 1px solid $border;
		text-align: center;
		margin: 0 -1px -1px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.8em;
		.reach__ill {
			flex-shrink: 0;
			padding-bottom: 0 !important;
		}
		@media (min-width: 768px){
			&--1 {
				grid-area: a;
			}
			&--2 {
				grid-area: b;
			}
			&--3 {
				grid-area: e;
			}
			&--4 {
				grid-area: i;
			}
			&--5 {
				grid-area: k;
			}
			&--6 {
				grid-area: f;
			}
			&--7 {
				grid-area: d;
			}
			.h4 {
				max-width: 208px;
				line-height: 1.2;
				&:before {
					font-size: 2.2em;
					margin-bottom: 0.2em;
					line-height: 1;
				}
			}
		}
		@media (max-width: 991px){
			.h4 {
				&:before {
					font-size: 1.6em;
				}
			}
		}
		@media (max-width: 767px){
			padding: 1.4em 1em;
			flex-direction: column;
			gap: 0.3em;
			.h4 {
				&:before {margin-bottom: 0;}
			}
		}
	}
}
[data-tab]:not([data-tab=active]) {
   display: none!important;
}
.tab {
	display: flex;
	align-items: center;
	padding: .3em 2.3em .3em .6em;
	min-height: 4.5625em;
	user-select: none;
	cursor: pointer;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	margin-bottom: -1px;
	background-color: transparent;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		left: 100%;
		bottom: -1px;
		width: 0;
      height: 0;
      border-bottom: 2em solid $color-accent;
      border-right: 2em solid transparent;
		opacity: 0;
	}
	.h4 {
		display: flex;
		align-items: center;
		gap: .7em;
		&:before {
			font-size: 1.4em;
			margin-bottom: 0;
		}
	}
	&.active {
		background-color: $color-accent;
		border-bottom-color: transparent;
		color: #fff;
		z-index: 1;
		&:after {
			opacity: 1;
		}
		.h4 {
			&:before {
				color: inherit;
				opacity: 0.4;
				transition: .2s;
			}
		}
	}
}
.tabs {
	@media (min-width: 1200px){
		flex-grow: .2;
	}
	&__box {
		position: relative;
		z-index: 1;
		@media (min-width: 720px){
			display: flex;
			gap: 6em;
		}
		@media (min-width: 1024px){
			padding-top: 2em;
			&:before {
				content: '';
				position: absolute;
				width: 86vmin;
				height: 86vmin;
				max-width: 830px;
				background-size: contain;
				background-image: url(../img/consulting/waves.png);
				background-repeat: no-repeat;
				left: -23%;
				top: -36%;
				z-index: -1;
				opacity: 0.8;
			}
		}
	}
}
.s--dark .tabs-content {
	b {color: #fff;}
}