.intro {
	position: relative;
	background-color: $bg-dark;
	color: #fff;
	&:not(.intro--home) {
		@media (min-width: 1024px) and (max-width: 1199px){
			background-image: url(../img/general/intro.png);
		}
	}
	&--home {
		@media (min-width: 1024px) and (max-width: 1199px){
			min-height: 96vh;
			background-image: url(../img/home/texture-1.png);
			background-repeat: no-repeat;
			background-position: 49% 10%;
			background-size: auto 99%;
		}
	}
}
#canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@media (max-width: 1199px){
		display: none;
	}
}
.square-decor {
	position: relative;
	&:before,&:after {
		content: '';
		position: absolute;
	}
	&:before {
		background-color: $color-accent;
		width: 78px;
		height: 78px;
		@media (max-width: 1100px){
			width: 60px;
			height: 60px;
		}
		@media (max-width: 991px){
			width: 40px;
			height: 40px;
		}
	}
	&:after {
		width: 32px;
		height: 32px;
		background-color: $gray;
		@media (max-width: 1100px){
			width: 20px;
			height: 20px;
		}
	}
}
.s-intro {
	overflow: hidden;
	.container {
		padding-top: 6em;
		padding-bottom: 5em;
		@media (min-width: 1024px){
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
		}
		@media (min-width: 1200px){
			min-height: 79.6vh;
		}
		@media (max-width: 1366px) and (max-height: 660px){
			padding-top: 3em;
			padding-bottom: 2em;
		}
		@media (max-width: 991px){
			padding-top: 2.7em;
			padding-bottom: 2.7em;
		}
		@media (max-width: 700px){
			padding-top: 1.8em;
			padding-bottom: 3.2em;
		}
	}
}
.intro {
	&__text {
		padding-top: 5em;
		position: relative;
		max-width: 640px;
		@media (min-width: 1024px) and (max-width: 1199px) {
			margin-left: 10px;
		}
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 80%;
			max-width: 161px;
			border-top: 1px solid $border;
		}
		p {
			color: $gray;
			max-width: 400px;
			@media (max-width: 1280px){
				max-width: 380px;
			}
		}
		@media (min-width: 1024px){
			flex-grow: 0.7;
			align-self: stretch;
			margin-right: auto;
		}
		@media (max-width: 1280px){
			padding-top: 3.6em;
			max-width: 500px;
			&:before {
				max-width: 110px;
			}
		}
		@media (max-width: 767px){
			padding-top: 2.7em;
		}
	}
	&__cta {
		padding-top: 3em;
	}
	&__headline {
		font-family: $title-font;
		font-size: em(70);
		font-weight: 400;
		line-height: 1.42;
		padding-bottom: 0.4em;
		.color-accent {
			font-weight: 800;
		}
		@media (max-width: 1280px){
			font-size: 3.6em;
		}
		@media (max-width: 700px){
			font-size: 2.4em;
		}
		@media (max-width: 400px){
			font-size: 2em;
		}
	}
	&__pict {
		flex-shrink: 0;
		&:before {
			left: 0;
			bottom: 0;
			@media (max-width: 991px){
				left: auto;
				right: 0;
			}
		}
		&:after {
			left: 0;
			bottom: 0;
			transform: translate(-100%,100%);
			@media (max-width: 991px){
				left: auto;
				transform: none;
				right: 0;
				bottom: -20px;
			}
		}
		@media (min-width: 1024px){
			width: 78%;
			margin-right: -18%;
			margin-left: -25%;
		}
		@media (min-width: 1400px){
			width: 96.697%;
			margin-right: -36%;
			margin-left: -22%;
		}
	}
}