/*====================
	reset & default
====================*/
*,*:before,*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
::selection {
	background: $text;
	color: #fff;
}
[class|="i"] {
	display: inline-block;
	user-select: none;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
	user-select: none;
}
svg {
	max-width: 100%;
	pointer-events: none;
	user-select: none;
   pointer-events: none;
}
html {
	scroll-behavior: smooth;
	font-size: 16px
}
section {
	width: 100%;
	position: relative;
	overflow: hidden;
}

a,a:focus {
	text-decoration:none;
	outline:0;
	cursor: pointer;
	transition: .3s;
	user-select: none;
	box-shadow: none;
	outline-color: transparent;
	-webkit-tap-highlight-color: rgba(0,0,0,.05);
}