.accordion__hidden {
	max-height: 100px;
	overflow: hidden;
	position: relative;
	user-select: none;
	transition: .3s;
	@media (max-width: 991px){
		max-height: 88px;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to bottom, transparent,$bg-muted);
		transition: .3s;
		user-select: none;
	}
}
.expanded .accordion__hidden{
	max-height: 100vh;
	user-select: auto;
	&:after {
		background-image: linear-gradient(to bottom, transparent,transparent);
	}
}
.expanded .btn--collapser {
	.btn--circle {
		color: #fff;
		background-color: $border;
		transform: rotate(-180deg);
		transition: .3s;
	}
}
.s-steps {
	padding-bottom: 8em;
	z-index: 1;
	@media (max-width: 1100px){
		padding-bottom: 5em;
	}
	@media (max-width: 600px){
		padding-bottom: 2.8em;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 240px;
		background-color: $bg-muted;
	}
}
.step {
	&__row {
		@media (min-width: 768px){
			display: grid;
			grid-template-columns: repeat(auto-fill,minmax(290px,1fr));
			justify-items: stretch;
			grid-gap: 1.1em;
		}
		@media (min-width: 992px){
			grid-gap: 1.75em;
			padding-bottom: 4em;
		}
		@media (max-width: 767px){
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			gap: 14px;
		}
	}
	&__icon {
		padding-top: 1.1em;
		padding-bottom: 1.1em;
		margin-bottom: 3.2em;
		position: relative;
		z-index: 1;
		@media (max-width: 991px){
			padding-top: 0.6em;
			padding-bottom: 0.7em;
			margin-bottom: 2em;
		}
		img {
			max-width: 121px;
			max-height: 121px;
			@media (max-width: 991px){
				max-width: 110px;
				max-height: 110px;
			}
			@media (max-width: 500px){
				max-width: 80px;
				max-height: 90px;
			}
		}
		&:before {
			background-image: url(../img/general/texture-wave.png);
			content: '';
			position: absolute;
			z-index: -1;
			width: 124%;
			height: 120%;
			top: -22%;
			left: -12%;
			background-size: cover;
		}
	}
	&__item {
		position: relative;
		overflow: hidden;
		color: #fff;
		background-color: $bg-dark;
		padding: 2em 2em 6em;
		@media (max-width: 991px){
			padding: 1.2em 2em 3em;
		}
		@media (max-width: 767px){
			flex-grow: 1;
			max-width: 340px;
		}
		.h3 {
			position: relative;
			margin-bottom: 1em;
			&:before {
				content: '';
				display: inline-block;
				width: 16px;
				height: 16px;
				background-color: $color-accent;
				margin-right: .4em;
			}
			@media (max-width: 991px){
				margin-bottom: 0.7em;
				&:before {
					width: 13px;
					height: 13px;
				}
			}
		}
		.marked-list {
			li {
				margin-bottom: .5em;
			}
		}
		&:before {
			position: absolute;
			top: .8em;
			right: 1.1em;
		}
		&:nth-child(2) {
			background-color: $color-accent;
			&:before {
				color: $bg-dark;
			}
			.h3 {
				&:before {
					background-color: $bg-dark;
				}
			}
			.step__icon {
				&:before {
					background-image: url(../img/general/texture-wave-d.png);
				}
			}
			@media (min-width: 768px) and(max-width: 991px){
				top: 6em;
			}
		}
		&:nth-child(odd) {
			@media (min-width: 992px){
				top:5em;
			}
		}
	}
}
.con__benefits {
	padding: 2em 2.4em 2.7em;
	color: #fff;
	background-color: $color-accent;
	width: 100%;
	max-width: 673px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;
	z-index: 1;
	@media (min-width: 1024px){
		top: -50px;
		margin-bottom: -50px;
	}
	@media (max-width: 400px){
		padding: 2.4em 1.5em 2em 1.3em;
	}
	.marked-list {
		li {
			margin-bottom: 0.5em;
		}
	}
	&-title {
		padding-top: .2em;
		padding-bottom: 1em;
		margin-bottom: 1.7em;
		position: relative;
		&:before {
			content: '';
			background-image: url(../img/general/texture-wave-c.png);
			position: absolute;
			top: -40%;
			left: -20px;
			width: 120%;
			height: 90px;
		}
		@media (max-width: 1100px){
			margin-bottom: 1.2em;
		}
	}
}
.s-serv {
	.container {
		position: relative;
	}
	@media (max-width: 767px){
		padding-top: 2.8em;
	}
}
.serv {
	&__title {
		@media (min-width: 1000px){
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			background-color: $color-accent;
			color:#fff;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 1;
			padding: 1.1em;
			width: 18.5em;
			height: 18em;
			.h3 {
				line-height: 1.6;
				letter-spacing: .01em;
				padding: 0;
			}
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 50%;
				background-image: url(../img/general/texture-wave-mini.png);
			}
		}
	}
	&__row {
		@media (min-width: 1000px){
			display: grid;
			grid-template-columns: repeat(2,1fr);
			justify-items: stretch;
			grid-gap: 7.25em 18.5em;
		}
		@media (max-width: 999px){
			padding-top: 1em;
		}
	}
	&__item {
		padding: 3.44em 2em 3em 2.3em;
		position: relative;
		border: 1px solid $border;
		&:before {
			position: absolute;
			top: 0.7em;
			right: 1.1em;
		}
		@media (max-width: 999px){
			margin-bottom: -1px;
		}
	}
}