.combo {
	&__row {
		@media (min-width: 992px){
			display: flex;
			justify-content: space-between;
			gap: 1.5em;
		}
	}
	&__pict {
		position: relative;
		z-index: 1;
		align-self: flex-start;
		@media (min-width: 1024px){
			&:before {
				content: "";
				display: block;
				position: absolute;
				background-size: contain;
				background-image: url(../img/general/bricks-dark.png);
				background-repeat: no-repeat;
				transform-origin: left;
				width: 58vmin;
				height: 18vmin;
				max-width: 553px;
				z-index: -1;
				transform: rotate(-90deg);
				left: -7%;
				top: 76%;
			}
		}
		@media (max-width: 1100px){
			max-width: 310px;
		}
		@media (max-width: 1023px){
			display: none;
		}
	}
	&__text {
		@media (min-width: 992px){
			max-width: 432px;
			&--lg {
				max-width: 560px;
			}
		}
		p {
			padding-bottom: 2.2em;
			@media (max-width: 500px){
				padding-bottom: 1.8em;
			}
		}
	}
	&__benefits {
		position: relative;
		align-self: flex-start;
		flex-grow: 0.2;
		@media (min-width: 992px){
			&::before {
				content: '';
				position: absolute;
				width: 105%;
				height: 60%;
				left: -12%;
				bottom: -38%;
				background-size: contain;
				background-image: url(../img/general/bricks-dark.png);
				background-repeat: no-repeat;
			}
			&--b::before {
				height: 40%;
				width: 120%;
				transform: rotate(180deg);
				left: -107%;
				bottom: -7%;
			}
		}
	}
	&__grid {
		padding-top: 1.3em;
		padding-bottom: 1em;
		@media (min-width: 720px){
			padding-top: 2.9em;
			display: grid;
			grid-template-columns: repeat(2,1fr);
		}
		@media (min-width: 1024px){
			&--decor {
				position: relative;
				z-index: 1;
				&:before,&:not(.combo__grid--decor-0):after {
					content: "";
					position: absolute;
					background-size: contain;
					background-image: url(../img/general/bricks-dark.png);
					background-repeat: no-repeat;
					transform-origin: top center;
					width: 58vmin;
					height: 18vmin;
					max-width: 553px;
					z-index: -1;
				}
				&:before {
					top: 32%;
					right: 88%;
					transform: rotate(-90deg);
				}
				&:after {
					bottom: 1%;
					left: 88%;
					transform: rotate(90deg);
				}
			}
			&--decor-0 {
				padding-top: 1.8em;
				&:before {
					top: -21%;
					right: 39%;
					transform: none;
				}
				@media (max-width: 1200px){
					padding-top: 1.4em;
					&:before {
						top: -17%;
						right: 43%;
					}
				}
			}
		}
		&--decor-2 {
			position: relative;
			z-index: 1;
			@media (min-width: 1024px){
				&:before {
					content: '';
					position: absolute;
					width: 84vmin;
					height: 84vmin;
					max-width: 820px;
					background-size: contain;
					background-image: url(../img/consulting/waves.png);
					left: 80%;
					top: -24%;
					z-index: -1;
				}
			}
		}
	}
	&__tile {
		padding: 1.8em 1.6em 2.8em 2em;
		border: 1px solid $border3;
		&--accent {
			background-color: $color-accent;
			[data-double-text]:before {
				color: #fff;
				opacity: .4;
			}
			p {
				color: #fff;
			}
		}
		@media (min-width: 720px){
			margin-left: -1px;
			margin-bottom: -1px;
		}
		@media (max-width: 719px){
			margin-bottom: -1px;
		}
		@media (max-width: 600px){
			padding: 1.2em 1.6em 2em;
		}
	}
	&__position {
		display: flex;
		align-items: center;
		gap: 1.5em;
		padding-bottom: .4em;
		@media (max-width: 991px){
			gap: 0.9em;
		}
	}
	&__icon {
		max-width: 121px;
		max-height: 121px;
		margin-left: -0.4em;
		@media (max-width: 991px){
			max-width: 90px;
			max-height: 90px;
		}
		@media (max-width: 359px){
			max-width: 70px;
			max-height: 70px;
			margin-left: -0.4em;
		}
	}
	&__cascade {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		padding-top: 3em;
		@media (min-width: 1024px){
			&:before {
				content: '';
				position: absolute;
				width: 54vmin;
				height: 20vmin;
				background-size: contain;
				background-image: url(../img/general/bricks-dark.png);
				right: -38px;
				top: 5%;
				background-repeat: no-repeat;
			}
		}
		.combo__tile {
			position: relative;
			@media (min-width: 768px){
				min-width: 50%;
				max-width: 50%;
				&:nth-child(n+3):nth-child(odd) {
					top: -5.4em;
				}
				&:nth-child(2) {
					margin-top: 9.6em;
				}
				&:nth-child(n+4):nth-child(even) {
					margin-top:8em;
				}
				&:not(:first-child):not(:last-child) {
					&:after {
						content: '';
						position: absolute;
						top: 48%;
						width: 20px;
						height: 20px;
						background-image: url("data:image/svg+xml,%3Csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99023 16.49L6.99024 1.49999' stroke='%23FF4D40' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.9771 10.486L7.00005 16.502L1.02305 10.486' stroke='%23FF4D40' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
						background-size: contain;
						background-repeat: no-repeat;
					}
					&:nth-child(even):after {
						right: 105%;
					}
					&:nth-child(odd):after {
						left: 105%;
					}
				}
			}
			@media (min-width: 1024px){
				&:nth-child(n+3):nth-child(odd) {
					top: -4em;
				}
			}
			@media (max-width: 767px){
				width: 100%;
			}
		}
	}
}
.data-double--lg {
	&:before {
		margin-bottom: 0.1em;
		font-size: 2.2em;
		line-height: 1;
		letter-spacing: .04em;
		@media (max-width: 400px){
			font-size: 1.5em;
		}
	}
}
.t__steps {
	padding-top: 1em;
	@media (min-width: 1024px){
		padding-top: 3em;
		display: grid;
		grid-template-columns: repeat(auto-fill,minmax(248px,1fr));
		&--5,&--text {
			position: relative;
			z-index: 1;
			grid-template-columns: repeat(auto-fill,minmax(190px,1fr));
			&:before {
				content: '';
				position: absolute;
				background-image: url(../img/general/logo-dark.svg);
				background-size: contain;
				background-repeat: no-repeat;
				top: -44%;
				right: -4%;
				width: 28vmin;
				height: 28vmin;
				max-width: 280px;
				z-index: -1;
				opacity: .03;
			}
		}
	}
	&--5 {
		@media (min-width: 1200px){
			grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
		}
	}
}
.t__step {
	&::before {
		margin-bottom: 1em;
	}
	@media (min-width: 1024px){
		padding: 0 1.1em 0 1.3em;
		border-left: 1px solid $border4;
		&:first-child {
			border-left: none;
			padding: 0 1.5em 0 0;
		}
	}
	@media (max-width: 1023px){
		padding-bottom: 1.1em;
		&:before {
			margin-bottom: 0.3em;
		}
	}
}
.t__grid {
	@media (min-width: 1024px){
		position: relative;
		z-index: 1;
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 1em 2.2em;
		&:before {
			content: '';
			position: absolute;
			background-image: url(../img/general/logo-dark.svg);
			background-size: contain;
			background-repeat: no-repeat;
			top: -11%;
			right: -7%;
			width: 28vmin;
			height: 28vmin;
			max-width: 280px;
			z-index: -1;
			opacity: .03;
		}
	}
	@media (max-width: 1200px){
		&:before {
			right: 0;
			top: -8%;
		}
	}
	@media (max-width: 600px){
		font-size: .936em;
	}
}
.t__item {
	position: relative;
	padding-bottom: 1.1em;
	padding-left: 1.8em;
	&:before {
		content: '';
		width: 1em;
		height: 1em;
		position: absolute;
		left: 0;
		top: 0.4em;
	}
	&--accent::before {
		background-color: $color-accent;
	}
	&--dark::before {
		background-color: $text;
	}
}
.s--bottom-line {
	@media (min-width: 1024px){
		padding-bottom: 0;
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 160px;
			bottom: 0;
			left: 0;
			background-color: $bg-muted;
		}
	}
}
.s-acc {
	@media (min-width: 1025px) and (max-width: 1940px) {
		background-image: url(../img/consulting/lines-horiz.svg);
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center;
		padding-bottom: 1em;
	}
	@media (min-width: 1026px){
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 160px;
			bottom: 0;
			left: 0;
			background-color: $bg-muted;
		}
	}
}
.acc {
	position: relative;
	@media (min-width: 1026px){
		transform: translateZ(0);
		display: flex;
		width: 100%;
	}
	&__temp {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		padding: 1.5em;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		transition: .4s .4s;
		@media (max-width: 1025px){
			display: none;
		}
		.h3 {
			@media (min-width: 1026px){
				min-height: 162px;
			}
		}
	}
	&__text {
		position: absolute;
		right: 0;
		top: 0;
		width: 53%;
		height: 100%;
		color: #fff;
		background-color: $color-accent;
		opacity: 0;
		visibility: hidden;
		transition: .3s;
		padding: 3.5em 1.8em 1.5em;
		[data-double-text]:before {
			color: #fff;
			opacity: 0.3;
			font-size: 1.6em;
			margin-bottom: .6em;
		}
		.h3 {
			padding-bottom: .8em;
		}
		p {
			padding-bottom: 1.2em;
		}
		@media (max-width: 1025px){
			opacity: 1;
			visibility: visible;
			position: relative;
			width: 100%;
			background-color: transparent;
			padding: 2em 0.2em 0.8em;
			.h3>br {display: none;}
			[data-double-text]:before{
				color: $color-accent;
				opacity: .6;
				font-size: 1.2em;
			}
		}
		@media (max-width: 991px){
			padding-bottom: 0;
		}
	}
	&__bg {
		width: 100%;
		max-width: 100%;
		height: 100%;
		position: relative;
		background-image: var(--bg1x);
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto 101%;
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			background-image: var(--bg2x);
		}
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(1,1,1,.5);
			transition: .3s .3s;
		}
		@media (max-width: 1366px){
			background-position: center left;
		}
		@media (max-width: 1025px){
			display: none;
		}
	}
	&:hover {
		@media (min-width: 1026px){
			.acc__item {
				width: 0%;
				flex: 1 0 0%;
				.acc__temp {
					opacity: 0;
					transition: 0s;
				}
			}
		}
	}
	&__item {
		flex: 1 1 25%;
		height: calc(29.9em + 8.7vw);
		cursor: pointer;
		position: relative;
		background-color: $color-accent;
		overflow: hidden;
		transition: .35s ease-out;
		@media (max-width: 1025px){
			height: auto;
			background-color: transparent;
		}
		&:hover {
			width: 100%;
			flex: 1 1 100% !important;
			.acc__bg {
				max-width: 47%;
			}
			.acc__text {
				opacity: 1;
				visibility: visible;
				transition: .3s .35s;
			}
			.acc__bg:after {
				background-color: rgba($color-accent,.6);
			}
		}
	}
}