//fonts
$default-font: 'Rubik',arial, sans-serif;
$title-font: 'Poppins',arial, sans-serif;

//text
$text:#141517;
$muted-text: #6B7382;

// bg
$white: #fff;
$bg: #F5F5FB;
$bg-muted: #EAEAEA;
$bg-grey: #DADBDB;
$bg-middle: #3F4248;
$bg-dark: #2E3138;
$border: #626469;
$border2: #C0C0C0;

//accents
$color-accent: #FF4D40;
$gray: #DADBDB;

//px -> em
@use "sass:math";
$browser-context: 16;

@function em($pixels, $context: $browser-context) {
	@return math.div($pixels,$context) * 1em;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
