.header {
	position: relative;
	z-index: 11;
	.container {
		padding-top: 2em;
		padding-bottom: 2em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2.2em;
		@media (max-width: 1100px){
			padding-top: .6em;
			padding-bottom: .6em;
		}
		@media (max-width: 767px){
			padding-top: .4em;
			padding-bottom: .4em;
			padding-left: 10px;
			.logo {
				max-width: 160px;
			}
		}
		@media (max-width: 380px){
			.logo {
				max-width: 142px;
			}
		}
	}
	.menu {
		flex-grow: .5;
		ul {
			width: 100%;
			display: flex;
			align-items: center;
			list-style: none;
			justify-content: space-between;
			gap: 1em;
			letter-spacing: .03em;
			@media (max-width: 1023px){
				gap: 0.6em;
			}
		}
		&__link {
			color: inherit;
			padding: .6em .1em;
			position: relative;
			&:hover {
				color: $color-accent;
			}
			&.active {
				color: $color-accent;
				font-weight: 500;
				&:after {
					content: '';
					position: absolute;
					border-bottom: 2px solid;
					bottom: 0;
					left: -6%;
					right: -6%;
				}
			}
		}
		@media (max-width: 719px) {
			padding: 0;
			max-height: 0;
			transition: all .3s cubic-bezier(.39,.58,.57,1);
			pointer-events: none;
			overflow: hidden;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			background-color: #fff;
			&--open {
				max-height: 120vh;
				pointer-events: auto;
				z-index: 99;
				box-shadow: 0 8px 6px rgba(3,3,3,.2);
			}
			ul {
				flex-wrap: wrap;
				flex-direction: column;
				gap: 0;
				&>li {
					width: 100%;
					&:nth-child(odd) {
						background-color: $bg;
					}
				}
			}
			&__item {
				padding: 0 9px;
			}
			&__link {
				display: block;
				width: 100%;
				padding: .4em 1em;
				&.active {
					color: $color-accent;
					font-weight: 700;
					&:after {
						left: -.5em;
						right: auto;
						top: 0;
						bottom: 0;
						border-bottom: none;
						border-right: 3px solid;
						opacity: 1;
					}
				}
			}
		}
	}
}
.btn--menu {
	position: relative;
	padding: 5px;
	margin-left: 1em;
	width: 34px;
	height: 34px;
	@media (min-width: 720px){
		display: none;
	}
	.icon--menu {
		transition: .3s;
		opacity: 1;
	}
	.icon--close {
		transition: .3s;
		transform: translate(-50%, -50%) scale(.1);
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
	}
	&.open {
		.icon--close {
			transform: translate(-50%, -50%) scale(1);
			opacity: 1;
		}
		.icon--menu {
			transform: scale(.1);
			opacity: 0;
		}
	}
}
.subheader {
	position: sticky;
	top: 0;
	z-index: 9;
	border-bottom: 1px solid $border;
	background-color: transparent;
	color: #fff;
	transition: .35s;
	&.scrolled {
		background-color: $bg-dark;
		color: #fff;
		border-bottom-color: transparent;
	}
	&:not(.subheader--not-hidden) {
		@media (max-width: 991px){
			display: none;
		}
	}
	.container{
		display: flex;
		align-items: center;
		padding-top: 1.3em;
		padding-bottom: 1.3em;
		@media (min-width: 1025px){
			padding-right: 0;
		}
		@media (max-width: 1367px){
			padding-top: 1em;
			padding-bottom: 1em;
		}
	}
	&.scrolled .container-lg {
		padding-top: 1.1em;
		padding-bottom: 1.1em;
		@media (max-width: 1367px) {
			padding-top: .7em;
			padding-bottom: .7em;
		}
	}
	&__menu{
		padding-left: 20px;
		flex-grow: .02;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 3px;
		a {
			padding: 7px 16px;
			color: #fff;
			&:hover{
				color: $color-accent;
			}
			&.active {
				color: $color-accent;
			}
			@media (max-width: 1100px){
				padding: 6px 9px;
			}
		}
	}
	&.scrolled {
		.subheader__title {
			color: #fff;
		}
		.subheader__menu a{
			color: #fff;
			&.current,&:hover {
				color: #fff;
				background-color: transparent;
				@media (min-width: 992px){
					background-color: $text;
				}
			}
		}
	}
	&__divider {
		margin: -.15em 0.2em 0;
	}
}