@import "abstracts/vars";
@import "base/reset";
@import "base/fonts";
@import "base/helpers";

body {
	position: relative;
	color: $muted-text;
	font-family: $default-font;
	font-size: 16px;
	line-height: 1.5;
	background: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	@media (max-width: 767px) {
		font-size: 15px;
	}
}
.wrapper {
	position: relative;
	width: 100%;
	min-height: 50vh;
}
.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
	width: 100%;
	max-width: 1122px;
	&-lg {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 1400px;
		padding-left: 16px;
		padding-right: 16px;
	}
	@media (max-width: 359px) {
		&,
		&-lg {
			padding-left: 14px;
			padding-right: 14px;
		}
	}
}


//components
// @import "components/buttons";
// layout
@import "layout/header";
@import "layout/footer";

//modules
// @import "modules/intro";

