@import "abstracts/vars";
@import "base/reset";
@import "base/fonts";
@import "base/helpers";

body {
	position: relative;
	color: $text;
	font-family: $default-font;
	font-size: 16px;
	line-height: 1.875;
	background: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	@media (max-width: 1366px) {
		font-size: 15px;
	}
}
.wrapper {
	position: relative;
	width: 100%;
	min-height: 50vh;
}
.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	max-width: 1150px;
	&--lg {
		max-width: 1170px;
	}
	@media (max-width: 359px) {
		padding-left: 14px;
		padding-right: 14px;
	}
}

@import "base/typography";
// layout
@import "layout/header";
@import "layout/footer";
//components
@import "components/buttons";
@import "components/forms";

//modules
@import "modules/intro";
@import "modules/sections";
@import "pages/startup.scss";
@import "pages/training.scss";
@import "pages/contacts.scss";
@import "pages/about.scss";
@import "pages/extra.scss";

